<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>Lista de Clientes</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <a href="/Cliente/Cadastrar" class="btn btn-success">Novo Cliente</a>
                    </div>
                    <div class="col-4">
                        <select name="Filter" class="form-control">
                            <option value="0">Todas as Opções</option>
                            <option value="cpf">Por CPF</option>
                            <option value="nome">Por Nome</option>
                            <option value="Telefone">Por Telefone</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="text" name="busca" class="form-control" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
                <form action="/Cliente/Pesquisa" method="get">
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Luciano</td>
                            <td>123.856.789.25</td>
                            <td>(15)99366-5881</td>
                            <td>
                                <a href="/Produto/Editar/1" class="btn btn-warning">Editar</a>
                                <a href="Produto/Excluir/1" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
