<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">R$</span>
  <input type="text" class="form-control" placeholder="Digite o valor" aria-label="Username" aria-describedby="basic-addon1">
</div>

<form>
 <label>
     Login
 </label>
<input class="form-control "type="text" name="Login" />
<br />
<label>
    Senha
</label>
<input type="password" name="Senha"/>
<br />
    <button type="button" class="btn btn-success">
        Logar
        </button>
</form>

