<h1>Minha Tela</h1>

<p>essa é a action referente ao HomeController action MinhaTela</p>

<img src="https://seeklogo.com/images/F/Fatec-logo-9710C99301-seeklogo.com.png"/>
<img src="~/logo.gif"/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Vitor</td>
            <td>22</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Test</td>
            <td>36</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Teste</td>
            <td>52</td>
        </tr>
    </tbody>
    
</table>